@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem 0;
    padding: 0 14rem;
    font-family: 'Poppins', sans-serif;
}

.navbar .logo {
    font-size: 2rem;
    color: rgb(254, 126, 201);
    font-weight: bold;
}

.navbar .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navbar .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.navbar .sidenav a:hover {
    color: #f1f1f1;
}

.navbar .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

.first {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto 0;
    padding: 0 0;
}

.first .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.first .text h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    color: rgb(72, 141, 244);
    text-align: center;
}

.first .text p {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.second {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.second .services {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.second .services .box {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.second .services .box i {
    font-size: 6rem;
}

.second .services .box p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.third {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 242, 242);
}

.third h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: rgb(72, 141, 244);
    text-align: center;
}

.third p {
    text-align: center;
    width: 920px;
    font-size: 1.5rem;
    margin-top: 30px;
    line-height: 2;
}

.fourth {
    width: 100%;
    height: 1150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;

}

.fourth .about {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: rgb(159, 165, 164);
}

.fourth h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

.fourth .grid-container {
    display: grid;
    padding: 20px;
    margin: 50px;
    grid-template-areas:
        "a a a a a a b b b c c c"
        "a a a a a a d d d e e e";
    /* grid-template-columns: 250px 250px 250px; */
    /* grid-template-rows: 120px 120px; */
    gap: 20px;
}

.fourth .grid-container .grid-item1 {
    grid-area: a;
}

.fourth .grid-container .grid-item2 {
    grid-area: b;
}

.fourth .grid-container .grid-item3 {
    grid-area: c;
}

.fourth .grid-container .grid-item4 {
    grid-area: d;
}

.fourth .grid-container .grid-item5 {
    grid-area: e;
}

.fourth .grid-container .grid-item2 .box {
    width: 300px;
    height: 370px;
    background-color: rgb(235, 252, 252);
    padding: 20px;
}

.fourth .grid-container .grid-item3 .box {
    width: 300px;
    height: 370px;
    background-color: rgb(255, 242, 250);
    padding: 20px;
}

.fourth .grid-container .grid-item2 .box i,
.fourth .grid-container .grid-item3 .box i {
    font-size: 4rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.fourth .grid-container .grid-item2 .box .head,
.fourth .grid-container .grid-item3 .box .head {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-top: 40px;
    font-size: 1.5rem;
    color: rgb(159, 165, 164);
}

.fourth .grid-container .box .text {
    font-style: italic;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 20px;
}

.fourth .grid-container .grid-item2 .box .link,
.fourth .grid-container .grid-item3 .box .link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.3rem;
}

.fifth {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 202, 2);
    font-family: 'Roboto Condensed', sans-serif;

}

.fifth .head {
    /* height: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fifth .head .key {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
}

.fifth .head h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

.fifth .boxes {
    width: 1150px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    margin-top: 0;
}

.fifth .boxes .box {
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background-color: #fff;
    padding: 0 10px;
}

.fifth i {
    font-size: 4rem;
    border-radius: 50%;
    background-color: rgb(254, 202, 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.fifth .service {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 40px;
}

.fifth .boxes .box .text {
    width: 200px;
    font-style: italic;
    text-align: center;
    font-size: 1.1rem;
    line-height: 2;
    margin-top: 20px;
}

.sixth {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 242, 242);
}

.sixth .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1150px;
    margin-top: 50px;
    gap: 4rem;
}

.sixth .text h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: left;
}

.sixth .flex .p1 {
    width: 550px;
    font-size: 1.3rem;
    line-height: 1.7;
}

.sixth .flex .p2 {
    width: 550px;
    font-size: 1.3rem;
    line-height: 1.7;
}

.seventh {
    width: 100%;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 196, 193);
}

.seventh .boxes {
    width: 100%;
    /* height: 650px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.seventh .boxes .box2 {
    background-color: #fff;
    width: 380px;
    height: 500px;
    padding: 2.5rem 2rem;
    font-family: 'Roboto Condensed', sans-serif;

}

.seventh .boxes .box2 .head {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    width: 280px;
}

.seventh .boxes .box2 .text {
    font-size: 1.3rem;
    line-height: 1.5;
    margin-top: 20px;
}

.eight {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eight .about {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: rgb(159, 165, 164);
}

.eight h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
}

.eight .grid {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 90px;
}

.eight .grid .grid1,
.eight .grid .grid3 {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.eight .grid .grid1 .head,
.eight .grid .grid3 .head {
    font-size: 1.2rem;
    font-weight: bold;
}

.eight .grid .grid1 .text,
.eight .grid .grid3 .text {
    font-size: 1.2rem;
    font-style: italic;
}

.eight .grid .grid1 .head,
.eight .grid .grid1 .text {
    text-align: right;
}

.ninth {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 196, 193);
}

.ninth .about {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
}

.ninth h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

.ninth .boxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.ninth .box2 {
    background-color: #fff;
    height: 650px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    font-family: 'Roboto Condensed', sans-serif;

}

.ninth .box2 .head {
    font-size: 1.9rem;
    font-weight: bold;
    text-align: left;
}

.ninth .box2 .text {
    font-size: 1.3rem;
    line-height: 2;
    margin-top: 20px;
}

.ninth .box2 .link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 1.2rem;
}

.contact-icons {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-icons .icon {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-icons .icon i {
    color: #fff;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.contact-icons .icon p {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 20px;
}

.footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(254, 126, 201);
    gap: 7rem;
}

.footer .footer-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer .footer-text .text .head {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}

.footer .footer-icons i {
    color: #fff;
    margin: auto 12px;
}

/* MOBILE RESPONSIVENESS */
@media only screen and (max-width: 600px) {
    .navbar {
        margin: 0;
        padding: 2.5rem;
    }

    .navbar .logo {
        font-size: 1.5rem;
    }

    .first {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin-top: 30px;
    }

    .first .text h1 {
        font-size: 2rem;
    }

    .first .text p {
        font-size: 1.5rem;
    }

    .first .img {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .first .img img {
        width: 350px;
        height: 300px;
    }

    .second {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .second .services {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    .second .services .box {
        height: 300px;
    }

    .second .services .box i {
        font-size: 3rem;
    }

    .second .services .box p {
        font-size: 1.5rem;
        margin-top: 20px;
    }

    .third {
        height: 600px;
    }

    .third h1 {
        font-size: 2rem;
    }

    .third p {
        width: 350px;
        line-height: 1.4;
    }

    .fourth {
        height: 2350px;
    }

    .fourth .about {
        font-size: 1rem;
        text-align: center;
    }

    .fourth h2 {
        font-size: 2rem;
        text-align: center;
    }

    .fourth .grid-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .fourth .grid-item1 {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .fourth .grid-item1 img {
        width: 300px;
        height: 400px;
        margin-top: 30px;
    }

    .fourth .grid-container .grid-item2 .box .head,
    .fourth .grid-container .grid-item3 .box .head,
    .fourth .grid-container .box .text,
    .fourth .grid-container .grid-item2 .box .link,
    .fourth .grid-container .grid-item3 .box .link {
        text-align: center;
    }

    .fifth {
        height: 1700px;
    }

    .fifth .head h2 {
        margin-top: 20px;
    }

    .fifth .boxes {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .fifth .boxes .box {
        width: 300px;
        height: 350px;
        margin-top: 20px;
    }

    .sixth {
        width: 100%;
        height: 1000px;
    }

    .sixth .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        gap: 4rem;
    }

    .sixth .text h1 {
        font-size: 3.2rem;
        text-align: center;
    }

    .sixth .flex .p1 {
        width: 300px;
    }

    .sixth .flex .p2 {
        width: 300px;
    }

    .seventh {
        width: 100%;
        height: 1400px;
    }

    .seventh .boxes {
        width: 100%;
        /* height: 650px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
    }

    .seventh .boxes .box {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .seventh .boxes .box img {
        width: 300px;
        height: 300px;
    }

    .seventh .boxes .box2 {
        width: 300px;
        height: 650px;

    }

    .eight {
        width: 100%;
        height: 1900px;

    }

    .eight h2 {
        text-align: center;
    }

    .eight .grid {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .eight .grid .grid1 .head,
    .eight .grid .grid3 .head,
    .eight .grid .grid1 .text,
    .eight .grid .grid3 .text {
        text-align: center;
    }

    .ninth {
        width: 100%;
        height: 1200px;
    }

    .ninth h2 {
        font-size: 2rem;
        text-align: center;
        margin-top: 20px;
    }

    .ninth .boxes {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .ninth .boxes .box {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .ninth .boxes .box img {
        width: 300px;
        height: 300px;
    }

    .ninth .box2 {
        height: 600px;
        width: 300px;
        padding: 1rem;

    }

    .ninth .box2 .head,
    .ninth .box2 .text,
    .ninth .box2 .link {
        text-align: center;
    }

    .contact-icons {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
    }

    .footer {
        width: 100%;
        height: 480px;
    }

    .footer .footer-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .footer .footer-text .text .head {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-icons {
        margin-top: 50px;
    }
}